* {
    margin: 0;
 }
 
 body { 
    font-family: 'Roboto', sans-serif;
 }
 
 a {
     text-decoration: none;
     color: black;
 }

 h1 {
     border-bottom: 8px solid #99e2d0;
     width: 60px;
     font-size: 2.5rem;
     margin-top: 60px;
     text-transform: uppercase;
 }

 .fa-heart {
     margin-right: 50px;
 }

 .fa-utensils {
   margin-right: 35px;
 }

 .fa-hands-helping {
   margin-right: 20px;
 }

 .far:hover {
  font-weight: bold;
  color: #9356dc;
}

.fa-check {
  color: #99e2d0;
}

 /* Animation */

 .containertxtplats {
    width: 100%;
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 6s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  
.item1 {
    animation-delay: 1s;
  }
  
.item2 {
    animation-delay: 1.5s;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    
    to {
      opacity: 1;
    }
  }
 
 /* Header */

.fa-arrow-left {
    font-size: 3rem;
    position: absolute;
    left: 60px;
    top: 45px;
}
 
 header {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding-bottom: 30px;
 }
 
 header img{
    background-size: 20px 30px;
 }

/* Image above container */

.bg-image {
    width: 100%;
    height: 500px;
    background-image: url("../img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
   background-size: 100%;
}


/* Container Menu  */

.containermenu {
    background-color: #f6f6f6;
    font-family: 'Roboto';
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    margin-top: -50px;
    padding-left: 50px;
    padding-right: 100px;
}

.restauranttitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 3.5rem;
    font-family: 'Shrikhand', cursive;
    padding-top: 70px;
    margin-bottom: 30px;
}

.containerplats {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.containertxtplats {
    background-color: white;
    height: 150px;
    border-radius: 50px;
    font-size: 2.5rem;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    align-items: flex-end;
    padding-left: 30px;
    padding-right: 30px;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.09); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.09);
}

.price {
    margin-left: auto;
    margin-bottom: 20px;
    font-family: 'Poppins';
}

.boldtitle {
    font-family: 'Poppins';
}

.smallleftcontainer {
  white-space: nowrap;
    margin-bottom: 20px;
}

.soustitre {
  font-size: 38px;
}

/* Animation selection */

.containertxtplats:hover {
  background-color: #FFD5FD;
  cursor: pointer;
}

.link1 {
  position: absolute;
  width: 500px;
  height: 500px;
}

/* Test */

.anim {
  width: 0px;
}

.animcontainer {
  background: #99e2d0;
  position: relative;
  box-shadow: 2px 4px 8px 3px #e6e6e6;
  border-radius: 0 50px 50px 0;
  height: 150px;
  width: 115px;
  opacity: 0;
  left: -80px;
  transform-origin: right;
  transform: scaleX(0);
  transition: opacity 100ms, transform 300ms 100ms ease-in-out;
}
.animcircle {
  background: #fff;
  position: absolute;
  top: calc(50% - 18px);
  left: calc(50% - 18px);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transform: rotate(0deg);
  transition: transform 300ms 100ms ease-in-out;
}
.animicon {
  border-top: 8px solid #99e2d0;
  border-left: 8px solid #99e2d0;
  position: absolute;
  top: 5px;
  left: 10px;
  width: 10px;
  height: 14px;
  border-radius: 1px;
}
.containertxtplats:hover {
  background: rgba(147, 86, 220, 0.15);
  cursor: pointer;
}
.containertxtplats:hover .price {
  transition: transform 300ms 100ms ease-in-out;
  transform: translateX(-90px);
  transition-duration: 0.5s;
}

.containertxtplats:hover .animcontainer {
  opacity: 1;
  transform: scaleX(1);
}
.containertxtplats:hover .animicon {
  transition: transform 300ms 100ms ease-in-out;
  transform: rotate(220deg);
  transition-duration: 0.5s;
}

.containertxtplats:hover .smallleftcontainer {
  transition: transform 300ms 100ms ease-in-out;
  width: 455px;
  transition-duration: 0.5s;
}

.containertxtplats:hover .smallleftcontainer p {
  overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* Button */

.btnexp {
  background-color: #f6f6f6;
  padding-top: 75px;
  padding-bottom: 75px;
  text-align: center;
}

.explorerbtn {
  display: inline-block;
  border: none;
  border-radius: 80px;
  width: 515px;
  height: 125px;
  color: white;
  font-size: 2.4rem;
  background: linear-gradient(0deg,rgba(147,86,220,.9),rgba(255,121,218,.9));
  box-shadow: -1px -4px 79px -25px rgba(0,0,0,0.75);
  -webkit-box-shadow: -1px -4px 79px -25px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px -4px 79px -25px rgba(0,0,0,0.75);
}

.explorerbtn:hover {
  -webkit-box-shadow: 5px 5px 15px 5px #FFD5FD; 
  box-shadow: 5px 5px 15px 5px #FFD5FD;
}

 /* Footer */

.footerbottom {
    width: 100%;
    height: 600px;
    background-color: #353535;
 }
 
 .containerfooter {
    padding-top: 50px;
    padding-left: 60px;
    display: flex;
    flex-direction: column;
 }
 
 .containerfooter img {
    width: 300px;
    margin-bottom: 50px;
 }
 
 .containerfooter a {
    color: white;
    font-size: 2rem;
    text-decoration: none;
    margin-top: 20px;
    width: 485px;
 }
 
 .boldfooter {
    font-weight: bold;
 }