* {
    margin: 0;
 }
 
 body { 
    font-family: 'Roboto', sans-serif;
 }
 
 a {
     text-decoration: none;
     color: black;
 }

 h1 {
     border-bottom: 2px solid #99e2d0;
     width: 60px;
     font-size: 2.5rem;
     margin-top: 60px;
     text-transform: uppercase;
 }

 .fa-heart {
     margin-right: 50px;
 }

 .far:hover {
  font-weight: bold;
  color: #9356dc;
}

 /* Animation */

 .containerplats {
    width: 100%;
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 6s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  
  li:nth-child(2) > .containerplats {
    animation-delay: 3s;
  }
  
  li:nth-child(3) > .containerplats {
    animation-delay: 6s;
  }
  
  li:nth-child(4) > .containerplats {
    animation-delay: 9s;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    
    to {
      opacity: 1;
    }
  }
 
 /* Header */

.fa-arrow-left {
    font-size: 3rem;
    position: absolute;
    left: 60px;
    top: 45px;
}
 
 header {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding-bottom: 30px;
 }
 
 header img{
    background-size: 20px 30px;
 }

/* Image above container */

.bg-image {
    width: 100%;
    height: 500px;
    background-image: url("../img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
   background-size: 100%;
}


/* Container Menu  */

.containermenu {
    background-color: #f6f6f6;
    font-family: 'Roboto';
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    margin-top: -50px;
    padding-left: 50px;
    padding-right: 50px;
}

.restauranttitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 3.5rem;
    font-family: 'Shrikhand', cursive;
    padding-top: 70px;
    margin-bottom: 30px;
}

.containerplats {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.containertxtplats {
    background-color: white;
    height: 150px;
    border-radius: 50px;
    font-size: 2.5rem;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    align-items: flex-end;
    padding-left: 30px;
    padding-right: 30px;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.09); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.09);
}

.price {
    margin-left: auto;
    margin-bottom: 20px;
    font-family: 'Poppins';
}

.boldtitle {
    font-family: 'Poppins';
}

.smallleftcontainer {
    margin-bottom: 20px;
}

.soustitre {
  font-size: 38px;
}

/* Button */

.btnexp {
  background-color: #f6f6f6;
  padding-top: 75px;
  padding-bottom: 75px;
  text-align: center;
}

.explorerbtn {
  display: inline-block;
  border: none;
  border-radius: 80px;
  width: 515px;
  height: 125px;
  color: white;
  font-size: 2.4rem;
  background: linear-gradient(to bottom, #e570e7 0%,#e570e7 30%,#c85ec7 60%,#a849a3 100%);
  box-shadow: -1px -4px 79px -25px rgba(0,0,0,0.75);
  -webkit-box-shadow: -1px -4px 79px -25px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px -4px 79px -25px rgba(0,0,0,0.75);
}

.explorerbtn:hover {
  -webkit-box-shadow: 5px 5px 15px 5px #FFD5FD; 
  box-shadow: 5px 5px 15px 5px #FFD5FD;
}

 /* Footer */

.footerbottom {
    width: 100%;
    height: 600px;
    background-color: #353535;
 }
 
 .containerfooter {
    padding-top: 50px;
    padding-left: 60px;
    display: flex;
    flex-direction: column;
 }
 
 .containerfooter img {
    width: 300px;
    margin-bottom: 50px;
 }
 
 .containerfooter a {
    color: white;
    font-size: 2rem;
    text-decoration: none;
    margin-top: 20px;
    width: 485px;
 }
 
 .boldfooter {
    font-weight: bold;
 }