* {
   margin: 0;
}

body { 
   font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4 {
   margin: 0;
}

p {
   margin: 0;
}

header {
   z-index: 1;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 30px;
   padding-bottom: 30px;
   box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

header img{
   background-size: 20px 30px;
}

.place {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #eaeaea;
   height: 135px;
   margin-top: 2px;
}

#placetext {
   font-family: 'Poppins', sans-serif;
   color: #353535;
   font-size: 2rem;
   margin: 0;
}

.reserve {
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   align-content: center;
   align-items: center;
   background-color: #f6f6f6;
   height: 600px;
}

.reserve h1 {
   font-size: 3.5rem;
   font-weight: bold;
   margin-bottom: 30px;
   color: black;
}

.reserve {
   font-size: 2.5rem;
   font-weight: lighter;
   color: #4d4d4d;
}

.btnexp {
   margin-top: 75px;
   text-align: center;
}

.explorerbtn {
   display: inline-block;
   border: none;
   border-radius: 50px;
   width: 350px;
   height: 75px;
   color: white;
   font-size: 1.5rem;
   background: linear-gradient(to bottom, #e570e7 0%,#e570e7 30%,#c85ec7 60%,#a849a3 100%);
   box-shadow: -1px -4px 79px -25px rgba(0,0,0,0.75);
   -webkit-box-shadow: -1px -4px 79px -25px rgba(0,0,0,0.75);
   -moz-box-shadow: -1px -4px 79px -25px rgba(0,0,0,0.75);
}

.functiontitle {
   float: left;
}

.function {
   background-color: #ffffff;
   height: 350px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}