* {
   margin: 0;
}

body { 
   font-family: 'Roboto', sans-serif;
}

.wrapcontent {
   z-index: 1;
}

h1, h2, h3, h4 {
   margin: 0;
}

p {
   margin: 0;
}

/* Icons */

.fa, .fas {
   margin-right: 40px;
 }

 .fa-mobile-alt {
    color: grey;
 }

 .fa-list {
    color: grey;
 }

 .fa-store {
    color: grey;
 }

.far {
    margin-right: 50px;
    font-size: 4rem;
    cursor: pointer;
 }

.far:hover {
   font-weight: bold;
   color: #9356dc;
}

.fa-utensils {
    margin-right: 55px;
 }

/* Loader */

.loader7 {
   display:inline-block;
    width: 500px;
    height: 15px;
    background:#BE90D4;
   animation: loader7 7s forwards;
 }
 
 
@keyframes loader7 {
    from {transform: rotate(0deg);}
   to {transform: rotate(920deg);}
   100% {
      z-index: -50;
      opacity: 0;
    }
 }

.wraploader {
   width: 100%;
   height: 100%;
   position: fixed;
   display: flex;
   justify-content: center;
   top: 0;
   background-color: white;
   z-index: 1000;
   align-items: center;
   animation: wraploader 8s forwards;
}

@keyframes wraploader {
  100% {
     z-index: -50;
     opacity: 0;
   }
}

/* Header */

header {
   z-index: 1;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 30px;
   padding-bottom: 30px;
   box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

header img{
   background-size: 20px 30px;
}

.place {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #eaeaea;
   height: 135px;
   margin-top: 2px;
}

#placetext {
   font-family: 'Roboto', sans-serif;
   color: #353535;
   font-size: 3rem;
   font-weight: bold;
   margin: 0;
}

/* Reserve */

.reserve {
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   align-content: center;
   align-items: center;
   background-color: #f6f6f6;
   height: 600px;
}

.reserve h1 {
   font-size: 3.5rem;
   font-weight: bold;
   margin-bottom: 30px;
   color: black;
}

.reserve {
   font-size: 2.5rem;
   font-weight: lighter;
   color: #4d4d4d;
}

.btnexp {
   margin-top: 75px;
   text-align: center;
}

.explorerbtn {
   display: inline-block;
   border: none;
   border-radius: 80px;
   width: 515px;
   height: 125px;
   color: white;
   font-size: 2.4rem;
   background: linear-gradient(0deg,rgba(147,86,220,.9),rgba(255,121,218,.9));
   box-shadow: -1px -4px 79px -25px rgba(0,0,0,0.75);
   -webkit-box-shadow: -1px -4px 79px -25px rgba(0,0,0,0.75);
   -moz-box-shadow: -1px -4px 79px -25px rgba(0,0,0,0.75);
}

.explorerbtn:hover {
   -webkit-box-shadow: 5px 5px 15px 5px #FFD5FD; 
   box-shadow: 5px 5px 15px 5px #FFD5FD;
}

/* Function */

.functiontitle {
   float: left;
}

.function {
   background-color: #ffffff;
   height: 560px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin: 125px 50px;
}

.functiontitle h1 {
   font-size: 3.5rem;
   color: black;
}

.functionbtn {
   display: inline-block;
   position: relative;
   border: none;
   border-radius: 40px;
   width: 100%;
   height: 130px;
   margin-top: 45px;
   color: black;
   font-size: 3.2rem;
   background: #f6f6f6;
   box-shadow: -1px -4px 79px -25px rgba(0,0,0,0.75);
   -webkit-box-shadow: -1px -4px 79px -25px rgba(0,0,0,0.75);
   -moz-box-shadow: -1px -4px 79px -25px rgba(0,0,0,0.75);
}

.functionbtn:hover {
   background-color: #f5edff;
   -webkit-box-shadow: 5px 5px 15px 5px #FFD5FD; 
   box-shadow: 5px 5px 15px 5px #FFD5FD;
   }

.circle-num {
   position: absolute;
   top: 1165px;
   left: 2rem;
   transform: translateY(-50%);
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 1rem;
   border-radius: 50%;
   background-color:#9356dc;
   font-size: 2rem;
   color: white;
   width: 2rem;
   height: 2rem;
   z-index: 10;
   }

.circle-num2 {
      position: absolute;
      top: 1340px;
      left: 2rem;
      transform: translateY(-50%);
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      border-radius: 50%;
      background-color:#9356dc;
      font-size: 2rem;
      color: white;
      width: 2rem;
      height: 2rem;
      z-index: 10;
      }

.circle-num3 {
         position: absolute;
         top: 1515px;
         left: 2rem;
         transform: translateY(-50%);
         display: flex;
         justify-content: center;
         align-items: center;
         padding: 1rem;
         border-radius: 50%;
         background-color:#9356dc;
         font-size: 2rem;
         color: white;
         width: 2rem;
         height: 2rem;
         z-index: 10;
         }

/* Restaurants */

.link1 {
   position: absolute;
   height: 460px;
   width: 670px;
   top: 1820px;
}

.restaurantlist1 a, .restaurantlist2 a, .restaurantlist3 a, .restaurantlist4 a {
   text-decoration: none;
   color: black;
}

.containerrestaurants {
   background-color: #f6f6f6;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding-bottom: 50px;
}

.restauranttitle {
   margin-top: 50px;
   float: left;
   width: 90%;
}

.restauranttitle h1 {
    font-size: 3.5rem;
    color: black;
   }

.restaurantlist1 {
   background-image: url("../img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
   background-size: 100%;
   background-position: bottom 65px right;
   width: 90%;
   height: 500px;
   margin: 20px 20px;
   border-radius: 30px;
   background-color: white;
}

.restaurantlist2 {
   background-image: url("../img/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
   background-size: 100%;
   background-position: bottom 65px right;
   width: 90%;
   height: 500px;
   margin: 20px 20px;
   border-radius: 30px;
   background-color: white;
}

.restaurantlist3 {
   background-image: url("../img/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
   background-size: 100%;
   background-position: top -110px right;
   width: 90%;
   height: 500px;
   margin: 20px 20px;
   border-radius: 30px;
   background-color: white;
}

.restaurantlist4 {
   background-image: url("../img/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
   background-size: 100%;
   background-position: bottom 65px right;
   width: 90%;
   height: 500px;
   margin: 20px 20px;
   border-radius: 30px;
   background-color: white;
}

.footerrestaurant {
   font-size: 3rem;
   background-color: white;
   height: 200px;
   margin-top: 301px;
   border-bottom-left-radius: 30px;
   border-bottom-right-radius: 30px;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
}

.containertxtrest {
   display: flex;
   flex-direction: column;
   margin-left: 50px;
}

.subtextrestaurant {
   font-weight: bolder;
   margin-bottom: 10px;
}

.newtext {
   position: absolute;
   left: 650px;
   margin-top: 15px;
   background-color: #99e2d0;
   color: #008766;
   text-align: center;
   border-radius: 10px;
   width: 250px;
   font-size: 3rem;
}

/* Footer */

.footerbottom {
   width: 100%;
   height: 600px;
   background-color: #353535;
}

.containerfooter {
   padding-top: 50px;
   padding-left: 60px;
   display: flex;
   flex-direction: column;
}

.containerfooter img {
   width: 300px;
   margin-bottom: 50px;
}

.containerfooter a {
   color: white;
   font-size: 2rem;
   text-decoration: none;
   margin-top: 20px;
   width: 485px;
}

.boldfooter {
   font-weight: bold;
}