* {
   margin: 0;
}

body { 
   font-family: 'Roboto', sans-serif;
}

a {
   text-decoration: none;
   color: black;
}

button {
   cursor: pointer;
   font-weight: 600;
}

.wrapcontent {
   z-index: 1;
}

h1, h2, h3, h4 {
   margin: 0;
}

p {
   margin: 0;
}

/* Icons */

.fa, .fas {
   margin-right: 30px;
 }

 .fa-mobile-alt {
    color: grey;
    margin: 0 100px 0 80px;
 }

 .fa-list {
    color: grey;
    margin: 0 85px 0 80px;
 }

 .fa-store {
    color: grey;
    margin: 0 80px 0 80px;
 }

.far {
    margin-right: 50px;
    font-size: 4rem;
    cursor: pointer;
 }

.far:hover {
   font-weight: bold;
   color: #e04fe3;
   transition: all 1s cubic-bezier(0.000, 0.000, 0.230, 1);
  background-position: 0%;
}

.fa-utensils {
    margin-right: 44px;
 }

/* Loader */

.loader7 {
   display:inline-block;
    width: 500px;
    height: 500px;
    border-radius: 150px;
    background:#BE90D4;
   animation: loader7 7s forwards;
 }
 
 
@keyframes loader7 {
    from {transform: rotate(0deg);}
   to {transform: rotate(920deg);}
   100% {
      z-index: -50;
      opacity: 0;
    }
    0% { opacity:1; }
    66% { opacity:1; }
 }

.wraploader {
   width: 100%;
   height: 100%;
   position: fixed;
   display: flex;
   justify-content: center;
   top: 0;
   background-color: white;
   z-index: 1000;
   align-items: center;
   animation: wraploader 7s forwards;
}

@keyframes wraploader {
  100% {
     z-index: -50;
     opacity: 0;
   }
   0% { opacity:1; }
    66% { opacity:1; }
}

/* Header */

header {
   z-index: 1;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 30px;
   padding-bottom: 30px;
   box-shadow: 0px 8px 0px rgb(105 105 105 / 60%);
}

header img{
   background-size: 20px 30px;
}

.place {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #eaeaea;
   height: 135px;
   margin-top: 2px;
}

#placetext {
   font-family: 'Roboto', sans-serif;
   color: #353535;
   font-size: 2.5rem;
   font-weight: bold;
   margin: 0;
}

/* Reserve */

.reserve {
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   align-content: center;
   align-items: center;
   background-color: #f6f6f6;
   height: 600px;
}

.reserve h1 {
   font-size: 3.5rem;
   font-weight: bold;
   margin-bottom: 30px;
   color: black;
}

.reserve {
   font-size: 2.5rem;
   font-weight: lighter;
   color: #4d4d4d;
}

.btnexp {
   margin-top: 75px;
   text-align: center;
}

.explorerbtn {
   display: inline-block;
   border: none;
   border-radius: 80px;
   width: 515px;
   height: 125px;
   color: white;
   font-size: 2.4rem;
   background: linear-gradient(0deg,rgba(147,86,220,.9),rgba(255,121,218,.9));
   box-shadow: -1px -4px 79px -25px rgba(0,0,0,0.75);
   -webkit-box-shadow: -1px -4px 79px -25px rgba(0,0,0,0.75);
   -moz-box-shadow: -1px -4px 79px -25px rgba(0,0,0,0.75);
}

.explorerbtn:hover {
   -webkit-box-shadow: 5px 5px 15px 5px #FFD5FD; 
   box-shadow: 5px 5px 15px 5px #FFD5FD;
}

/* Function */

.functiontitle {
   float: left;
}

.function {
   background-color: #ffffff;
   height: 560px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin: 125px 50px;
}

.functiontitle h1 {
   font-size: 5.7vw;
   color: black;
}

.functionbtn {
   display: flex;
   align-items: center;
   border: none;
   border-radius: 40px;
   width: 100%;
   height: 130px;
   margin-top: 45px;
   color: black;
   font-size: 2.5vh;
   background: #f6f6f6;
   box-shadow: -1px -4px 79px -25px rgba(0,0,0,0.75);
   -webkit-box-shadow: -1px -4px 79px -25px rgba(0,0,0,0.75);
   -moz-box-shadow: -1px -4px 79px -25px rgba(0,0,0,0.75);
}

.functionbtn:hover{
   background-color: #f5edff;
   -webkit-box-shadow: 5px 5px 15px 5px #FFD5FD; 
   box-shadow: 5px 5px 15px 5px #FFD5FD;
   }

.functionbtn:hover .fa-list {
   color: #9356dc;
}

.functionbtn:hover .fa-mobile-alt {
   color: #9356dc;
}

.functionbtn:hover .fa-store {
   color: #9356dc;
}

.btfunction {
   position: relative;
}

.circle-num {
   position: absolute;
   top: 110px;
   left: -2rem;
   transform: translateY(-50%);
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 1rem;
   border-radius: 50%;
   background-color:#9356dc;
   font-size: 2rem;
   color: white;
   width: 2rem;
   height: 2rem;
   z-index: 10;
   }

.circle-num2 {
      position: absolute;
      top: 110px;
      left: -2rem;
      transform: translateY(-50%);
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      border-radius: 50%;
      background-color:#9356dc;
      font-size: 2rem;
      color: white;
      width: 2rem;
      height: 2rem;
      z-index: 10;
      }

.circle-num3 {
         position: absolute;
         top: 110px;
         left: -2rem;
         transform: translateY(-50%);
         display: flex;
         justify-content: center;
         align-items: center;
         padding: 1rem;
         border-radius: 50%;
         background-color:#9356dc;
         font-size: 2rem;
         color: white;
         width: 2rem;
         height: 2rem;
         z-index: 10;
         }

/* Restaurants */

.containerrestaurants {
   background-color: #f6f6f6;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding-bottom: 50px;
}

.restauranttitle {
   margin-top: 50px;
   margin-bottom: 50px;
   float: left;
   width: 90%;
}

.restauranttitle h1 {
    font-size: 3.5rem;
    color: black;
    margin-left: 50px;
   }

   .imageRestaurant {
      width: 100%;
      height: 440px;
      border-top-left-radius: 50px;
      border-top-right-radius: 50px;
      margin-bottom: -5px;
      object-fit: cover;
   }

.restaurantListing {
   margin-bottom: 50px;
   margin-left: 50px;
   margin-right: 50px;
   position: relative;
}

.footerrestaurant {
   font-size: 3rem;
   background-color: white;
   height: 200px;
   border-bottom-left-radius: 30px;
   border-bottom-right-radius: 30px;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
}

.containertxtrest {
   display: flex;
   flex-direction: column;
   margin-left: 50px;
}

.subtextrestaurant {
   font-weight: bolder;
   margin-bottom: 10px;
}

.newtext {
   position: absolute;
   right: 35px;
   margin-top: 25px;
   background-color: #99e2d0;
   color: #008766;
   text-align: center;
   border-radius: 10px;
   width: 250px;
   font-size: 3rem;
}

.restaurantListing:hover {
   -webkit-box-shadow: 5px 5px 17px 5px rgba(233,139,255,0.5); 
   box-shadow: 5px 5px 17px 5px rgba(233,139,255,0.5);
   border-radius: 50px;
}

/* Footer */

.footerbottom {
   width: 100%;
   height: 600px;
   background-color: #353535;
}

.containerfooter {
   padding-top: 50px;
   padding-left: 60px;
   display: flex;
   flex-direction: column;
}

.containerfooter img {
   width: 300px;
   margin-bottom: 50px;
}

.containerfooter a {
   color: white;
   font-size: 2rem;
   text-decoration: none;
   margin-top: 20px;
   width: 485px;
}

.boldfooter {
   font-weight: bold;
}


@media only screen and (min-width: 1024px) {

   .logocontainer img {
      width: 180px;
      padding-bottom: 10px;
   }

   .logo {
      padding-bottom: 0px;
   }

   #placetext {
      font-size: 1rem;
   }

   .reserve {
      height: 400px;
   }

   .reserve h1 {
      font-size: 2.5rem;
   }

   .reserve p {
      font-size: 1.5rem;
   }
   .explorerbtn {
      font-size: 1.4rem;
      width: 325px;
      height: 75px;
   }

   .function {
      justify-content: center;
      align-items: center;
      margin: 80px 25px;
   }

   .functionbtn {
      width: 1000px;
      height: 90px;
      font-size: 1.5rem;
   }

   .circle-num, .circle-num2, .circle-num3 {
      width: 1rem;
      height: 1rem;
      font-size: 1.2rem;
      top: 90px;
      left: -1rem;
   }

   .functiontitle {
      margin-left: -810px;
   }

   .place {
      height: 50px;
   }

   .functiontitle h1 {
      font-size: 1.7vw;
   }

   .function {
      height: 400px;
   }

   .newtext {
      font-size: 2rem;
      width: 160px;
   }

   .containertxtrest {
      font-size: 2rem;
   }

   .containerrestaurants {
      flex-wrap: wrap;
      flex-direction: row;
      margin: 50px;
      border-radius: 100px;
   }

   .containerrestaurants a {
      width: 100%;
      flex: 50%;
   }

   .restauranttitle h1 {
      margin-left: -5px;
      font-size: 2.5rem;
   }

   .imageRestaurant {
      width: 100%;
      height: 225px;
   }

   .break {
      flex-basis: 100%;
   }

   .restaurantListing {
      margin-left: 50px;
      margin-right: 50px;
   }

   .restauranttitle {
      width: 100%;
      margin-left: 75px;
   }

   .containerfooter a {
      font-size: 1rem;
      width: 635px;
   }

   .footerrestaurant {
      height: 150px;
   }

   .far {
      font-size: 3rem;
   }

   .footerbottom {
      height: 450px;
   }

   .fa-utensils {
      margin-right: 36px;
   }

   .containerfooter img {
      width: 220px;
   }
}

@media only screen and (min-width: 1024px) and (max-width: 1024px) {
   .functionbtn {
      width: 950px;
   }
}